<!DOCTYPE html>
<html>
<head>
    <title>Campus Book Swap</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Book Listings</h1>
    <a href="/post">Post a Book</a>
    <input id="search" placeholder="Search for recommendations...">
    <button onclick="getRecommendations()">Recommend</button>
    <div id="recommendations"></div>
    <ul>
        {% for book in books %}
        <li>
            {{ book.title }} by {{ book.author }} - ${{ book.price }} ({{ book.condition }}, {{ book.type }})
            <select id="payment-{{ book.id }}" onchange="updatePaymentMethod({{ book.id }})">
                <option value="paystack">Paystack (Cards, M-Pesa)</option>
            </select>
            <button onclick="message({{ book.owner_id }}, {{ book.id }})">Message Seller</button>
            <button onclick="buy({{ book.id }})">Buy</button>
        </li>
        {% endfor %}
    </ul>
    <script src="/static/script.js"></script>
</body>
</html>
